/my_project_name/.idea
/.idea
# Email spool folder
/app/spool


# Managed by Composer
/my_project_name/app/bootstrap.php.cache
/my_project_name/var/bootstrap.php.cache
/my_project_name/bin
!/my_project_name/bin/console
!/my_project_name/bin/symfony_requirements
/my_project_name/vendor

# Assets and user uploads
/my_project_name/web/bundles
/my_project_name/web/uploads

# Build data
/my_project_name/build
/my_project_name/var/sessions
/my_project_name/var/logs
/my_project_name/var/cache